- const siteTitle = "PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY"
- const siteURL = "https://partypartypartyparty.party"
- const pageTitle = "PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY"
- const description = "PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY PARTY"
- var d = new Date()
- const lastUpdated = d.toISOString()

- const emailAddress = "lemon@partypartypartyparty.party"
- const twitterHandle = "@AhoyLemon"