doctype html
include partials/_variables.pug
html(lang="en")
  head
    include partials/_head.pug
  body
    include partials/_mixins.pug
    include partials/_sidebar.pug
    
    main
      +button
        | PARTY
        
    ul.eq
      li.max-party MAXIMUM PARTY!!!
      - for (var x = 1; x < 10; x++)
        li(data-eq=x)
        
    .count#Count 0
    
    include partials/_javascripts.pug